body {
    font-family: Arial, sans-serif;
    background-color: #400851;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #d280c1;
    padding: 20px;
    box-shadow: 0 0 10px rgba(199, 202, 206, 0.1);
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #8245a0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #ddd;
    margin-bottom: 5px;
    padding: 10px;
}

a {
    color: #971c9e;
    text-decoration: none;
    margin-left: 10px;
}